@model Blog.Models.Tag

@{
    ViewData["Title"] = "Delete Tag";
}

<div class="card">
    <div class="card-header">
        <h6 class="m-0">Delete Tag</h6>
    </div>
    <div class="card-body">
        <h3>Are you sure you want to delete this tag?</h3>
        <div>
            <dl class="row">
                <dt class="col-sm-4">Arabic Name</dt>
                <dd class="col-sm-8">@Model.NameAr</dd>

                <dt class="col-sm-4">English Name</dt>
                <dd class="col-sm-8">@Model.NameEn</dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Delete
                </button>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
            </form>
        </div>
    </div>
</div>
